#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#login-form input:not([type="submit"]):focus {
  border-color: var(--green-melon);
}

#login-form input[type="submit"] {
  background-color: var(--green-melon);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form input[type="submit"]:hover {
  box-shadow: 0 0 0 2px var(--orange-melon);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

#login-form a:hover {
  color: var(--green-melon);
}
