.status-bar {
  display: flex;
  padding: 5px 3px;
}

.status-bar__column {
  width: 33.3%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  text-align: center;
}

.status-bar__column:last-child {
  text-align: end;
}

.status-bar__column .fa-battery-quarter {
  margin: 0px 5px;
}
